<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>com.dinner3000.servletpractice.DefaultServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>DefaultServlet</param-value>
        </init-param>
        <!--如果在<servlet>元素中配置了一个<load-on-startup>元素，那么WEB应用程序在启动时，就会装载并创建Servlet的实例对象、以及调用Servlet实例对象的init()方法。-->
        <!--用途：为web应用写一个InitServlet，这个servlet配置为启动时装载，为整个web应用创建必要的数据库表和数据。-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <!--<url-pattern>/DefaultServlet</url-pattern>-->
        <!--如果某个Servlet的映射路径仅仅为一个正斜杠（/），那么这个Servlet就成为当前Web应用程序的缺省Servlet。 -->
        <url-pattern>/</url-pattern>
        <!--在Servlet映射到的URL中也可以使用*通配符，但是只能有两种固定的格式：一种格式是"*.扩展名"，另一种格式是以正斜杠（/）开头并以"/*"结尾。-->
        <!--<url-pattern>/DefaultServlet/*</url-pattern>-->
        <!--<url-pattern>*.do</url-pattern>-->
    </servlet-mapping>

    <servlet>
        <servlet-name>PathServlet</servlet-name>
        <servlet-class>com.dinner3000.servletpractice.PathServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>PathServlet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathServlet</servlet-name>
        <url-pattern>/specific_path/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DoServlet</servlet-name>
        <servlet-class>com.dinner3000.servletpractice.DoServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>DoServlet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


</web-app>

